*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none; 
    text-decoration: none;
}

//Variables
$font: sans-serif;
$color0: black;
$color1: yellow;
$color2: white;
$color3: grey;

//Map
$font-sizes: (
 "extra-small":15px,
 "small": 17px,
 "medium": 20px,
 "large": 30px,
 "extra-large": 50px
 );

//Extend
%grids{
    display:grid
}

body {
    @extend %grids;
    background-color: $color0;
    position: relative;
    width: 100%;
    height: 100v;
    color:$color2;
    align-items:center;
}



    a{
        color: $color2;
        display: block;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }  
    h1{
        color:$color1;
        text-align: center;
        background-color: $color0;
        @debug map-get($font-sizes, "extra-large");
        }
        
    h2{
        color:$color0;
        text-align:center;
        background-color: $color1;
        @debug map-get($font-sizes, "large");
        font:$font;
        }
    h3,h4{
        color:$color1;
        text-align:center;
        background-color: $color0;
        @debug map-get($font-sizes, "small");
        font:$font;
    }
    
    h5{
        color:$color0;
        text-align:center;
        background-color: $color1;
        @debug map-get($font-sizes, "extra-small");
        font:$font;
    }
    
    p{
        color:$color3;
        text-align: center;
        @debug map-get($font-sizes, "extra-small");
        font:$font;
    }
    
    
    .grid-container {
        @extend %grids;
    }
    
    
    .imgChica {
        align-items: center;
        width:300px;
        height: 200px;
    }
    
    .container {
        max-width: 1700px;
        margin: 0 auto;
    }
    
    .footer {
        padding: 100px 50px ;
        background-color: $color0;
        align-items: center;
    }

//Extend
%defaultPX
{
    width:200px;
}
    text-center {
        @extend %defaultPX;
    }

    .link {
        @extend %defaultPX;
    }
    
    .link h3 {
        @debug map-get($font-sizes, "small");
        font:$font;
        color:$color2;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    .link a {
        @debug map-get($font-sizes, "small");
        font:$font;
        color:$color2;
        display: block;
        margin-bottom: 20px;
    }
    
    .link a:hover {
        color:$color1;
    }
    
    input {
        background-color: $color1;
        padding:14px;
        outline: none;
        border: 2px solid $color0;
        @debug map-get($font-sizes, "small");
        font:$font;
        margin-bottom:15px;
        color:$color0;
    }
    
    ::placeholder {
        color:$color3;
    }
    
    .btn {
        background-color: $color0;
        color:$color2;
        border: 1px solid $color0;
    }
    
    hr {
        border: 20px solid $color0;
        background-color: $color0;
        margin: 0px 0;
    }
    .footer{ 
    .footer-text {
        display: flex;
        justify-content: space-between; 
        & p {
        @debug map-get($font-sizes, "small");
        font:$font;
        color: $color2
    }
    }
}

@media (max-width:991px) {


    .link {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-text {
        text-align: center;
    }
}

.box1 , .box2 , .box3 {
    width: 100px;
    height: 100px;
    background-color: $color1;
    align-items: center;
    color:$color0;
    font-weight: 600;
    font:$font;
    margin:20px;
    border: 5px solid $color0;
    padding: 10px;
    display: inline-block;
    cursor:pointer;
    transition: all .2s;
    &:active {
        transform: skew(-15deg);
}
}

//Mixin and include
@mixin dimensiones($ancho, $alto){
    background-color: $color2;
    color:$color0;
    padding: 4px 10px;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index:100;
    font:$font;
    width: $ancho;
    height: $alto;
}

 .navegacion {
    @include dimensiones (350px,400px);
 
    .nav_item active{
        display: flex;
        align-items: center;
    }
   } 

